<ion-view view-title="Treino">
    <ion-content class="padding">
        <div class="card" ng-repeat="exercicio in vm.treino">

            <div class="item item-divider">
                {{exercicio.nome}} <span ng-if="exercicio.numeroMaquina != null">(nº{{exercicio.numeroMaquina}})</span>
            </div>



            <div class="item item-text-wrap treino">
                <div class="row">
                    <div class="col">
                        <ion-checkbox ng-model="contato.check">
                            <p>Peso: {{exercicio.peso}} Kg</p>
                            <p ng-if="exercicio.assento !== null">Assento: {{exercicio.assento}}</p>
                            <p>Series: {{exercicio.series}}x de {{exercicio.repeticoes}}</p>
                        </ion-checkbox>
                    </div>


                </div>

            </div>


        </div>

    </ion-content>
</ion-view>
